.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 72px;
    font-weight: 400;
    margin-right: 218px;
  }

  .headerUnderline {
    width: 567px;
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;
    width: 567px;
    margin-top: 10px;

    .linkContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: red;
      width: 151px;
      font-size: 32px;
      white-space: nowrap;
    }
  }
}
