$mobile-small: 654px;

// $main-header-size-normal: 72px;
// $main-header-size-mobile: 48px;
// $section-header-size-normal: 48px;
// $section-header-size-mobile: 30px;

.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-right: 218px;
    font-size: var(--main-header-size-normal);

    @media (max-width: $mobile-small) {
      font-size: var(--main-header-size-mobile);
      margin-right: 20px;
    }
  }

  .headerUnderline {
    width: 575px;

    @media (max-width: $mobile-small) {
      width: 257px;
    }
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;
    width: 567px;
    margin-top: 10px;

    @media (max-width: $mobile-small) {
      flex-direction: column;
      width: 113px;
      height: 120px;
    }
  }

  .bio {
    width: 576px;
    margin-top: 50px;

    @media (max-width: $mobile-small) {
      width: 341px;
    }
  }

  .mainContentContainer {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 20px;

    @media (max-width: 1200px) {
      width: 1000px;
    }

    @media (max-width: 1000px) {
      width: auto;
      display: block;
    }

    @media (max-width: $mobile-small) {
      width: 341px;
    }

    .experienceHeader {
      font-size: var(--section-header-size-normal);

      @media (max-width: $mobile-small) {
        font-size: var(--section-header-size-mobile);
      }
    }

    .experienceInfo {
      margin-left: 15px;
      width: 601px;

      @media (max-width: $mobile-small) {
        width: 310px;
      }
    }

    .educationHeader {
      margin-top: 20px;
      font-size: var(--section-header-size-normal);

      @media (max-width: $mobile-small) {
        font-size: var(--section-header-size-mobile);
      }
    }

    .skillsSectionHeader {
      font-size: var(--section-header-size-normal);

      @media (max-width: 1000px) {
        margin-top: 20px;
        font-size: var(--section-header-size-mobile);
      }
    }

    .skillsSectionSubHeader {
      margin-top: 20px;
    }

    .skillsList {
      margin-left: 15px;
    }

    .softSkillItem {
      width: 300px;
      margin-top: 20px;
    }
  }
}
