.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-right: 218px;
  }

  .headerUnderline {
    width: 575px;
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;
    width: 567px;
    margin-top: 10px;
  }

  .bio {
    width: 576px;
    margin-top: 50px;
  }

  .mainContentContainer {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .experienceInfo {
      margin-left: 15px;
      width: 601px;
    }
  }
}
